<div class="mt-4 p-5 bg-secondary text-white rounded">
    <h1>MyBlog</h1>
    <p>🔗 https://blog.naver.com/gih1214</p>
    <p>🔗 https://github.com/gih1214/springboot-green-blog-v2</p>
  </div>

</body>

</html>